html, body{
  height: 100%;
}

.name-heading {
	font-family: 'Amatic SC', cursive;
	color: black;
	text-align: center;
	letter-spacing: 2px;
	font-size: 60px;
	color: black;
}

.contact-container {
	padding-top: 20px;
	text-align: center;
}

.contact-child-container {
	display: inline-block;
	text-align: left;
}

.contact-padding {
	padding-bottom: 20px;
}

.contact-icon {
	font-size: 50px;
	vertical-align: middle;
}

.contact-link {
	color: black;
}

.contact-text {
	vertical-align: middle;
	font-family: 'Neucha',cursive;
	font-size: 20px;
	font-style: normal;
	text-decoration: none;
}

.about-text {
	font-size: 20px;
	padding-top: 20px;
	font-family: 'Neucha',cursive;
	text-align: center;
}

.about-heading {
	font-size: 30px;
	text-align: center;
}

.img-container {
	text-align: center;
}

.nav-tabs-custom {
	border: none !important;
	display: flex;
	justify-content: center;
	font-family: 'Neucha',cursive;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.about-image {
	max-width: 100%
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-text {
 transition: .5s ease;
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
 font-family: 'Handlee', cursive;
 text-align: center
}

.image-description {
	font-size: 25px;
}

.image-container:hover .image {
  opacity: 0.2;
}

.image-container:hover .image-text {
  opacity: 1;
}
